<p id="notice"><%= notice %></p>

<p>
  <b>Venue:</b>
  <%= @event.venue_id %>
</p>

<p>
  <b>Eventsdate:</b>
  <%= @event.eventsdate %>
</p>

<p>
  <b>Eventtype:</b>
  <%= @event.eventtype_id %>
</p>

<p>
  <b>Eventname:</b>
  <%= @event.eventname %>
</p>

<p>
  <b>Image:</b>
  <%= @event.image %>
</p>

<p>
  <b>Video:</b>
  <%= @event.video %>
</p>

<p>
  <b>Cost:</b>
  <%= @event.cost %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
